* {
    /* color: rgb(116, 255, 205); */
    color: #7bf1e7c7;
}
#pod_wrapper {
    height: 190px;
}
h3 {
    margin: 0px 110px;
    font-weight: 100;
}
#name_desc h2 {
    color: rgb(240, 231, 155);
    padding-left: 10px;
    margin-top: 10px;
}
#name_desc p {
    padding-left: 30px;
}
#pod_layer {
    padding: 10px 50px;
    margin: 10px 110px;
    background: linear-gradient(to left, rgba(255,0,0,0), rgba(63, 234, 179, 0.23));
    box-shadow: -3px 2px 18px 1px #9cdac5ad;
    border-radius: 10px;
}
img {
    width: 130px;
    display: inline-block;
    vertical-align: top;
    border-radius: 75px;
}
#high_score h2 {
    color: #7bf1e7;
}
#name_desc, #high_score {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    padding-left: 10px;
}
#name_desc {
    width: 63%;
}
#high_score {
    width: 17%;
    text-align: right;
}
#high_score p {
    font-size: 20px;
}