* {
    color: rgb(116, 255, 205);
}
h3 {
    margin: 0px 110px;
    font-weight: 100;
}
#name_desc h2 {
    color: rgb(240, 231, 155);
}
#pod_layer {
    padding: 10px 5px;
    margin: 10px 110px;
    background: linear-gradient(to left, rgba(255,0,0,0), rgb(143, 185, 202));
    box-shadow: -5px 1px 18px 1px #c6f0c8be;
}
img {
    width: 130px;
    display: inline-block;
    vertical-align: top;
}
#high_score h2 {
    color: #7bf1e7;
}
#name_desc, #high_score {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    padding-left: 10px;
}
#name_desc {
    width: 63%;
}
#high_score {
    width: 17%;
    text-align: right;
}