<div id="nav">
    <a [routerLink]="['/lobby']">Lobby</a> |
    <a [routerLink]="['/']">Logout</a>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12 col-lg-5" style="margin-bottom: 40px;">
    <div style="display: block;">
    <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"></canvas>
    </div>
  </div>
  <div class="col-md-6 col-sm-12" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <thead>
        <tr>
          <th>Game #</th>
          <th>Win/Lost</th>
          <th>Score</th>
          <th>Opponent</th>
          <th>View Stats</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of this.playerService.games; let i = index" [ngClass]="{hilite: showGameNum == i}">
          <td>{{i + 1}}</td>
          <td *ngIf="game.won">Won</td>
          <td *ngIf="!game.won">Lost</td>
          <td>{{game.score}}</td>
          <td>{{game.opponent_name}}</td>
          <td><button (click)="loadGameData(i)">View</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
