<html>
<head>
    <title>Tetris</title>
</head>
<body>
  <!-- <p [@myAwesomeAnimation]='state' (click)="animateMe()">I will animate.</p> -->
  <canvas id="nextBlockCanvas" width="100" height="100" #nextBlockCanvas></canvas>
  
  <div id="stats">
    Score: <div id="score">{{ player.score }}</div><br>
  </div>
  <div id="canvases">
    {{ playerService.username }}
    <canvas id="tetris" width="240" height="400" #tetris></canvas>
  
    {{ playerService.opponent }}
    {{ opponent.score }}

    <canvas id="opponentCanvas" width="240" height="400" #opponentCanvas></canvas>
    
  </div>

</body>
</html>